*~
.pc/
*.a
*.lo
*.o
#*.la
*.tmp
*.so
lib*.so*

MANIFEST

test/billboard
test/collision
test/explode
test/font
test/joy
test/light
test/load
test/math
test/menu
test/misc
test/scale
test/signal
test/simple
test/sound
test/texture
test/thread
test/trans
test/varray

conftest

